<html>
<head>
    <title>Upload</title>
</head>
<body>
<al>
    <a href="/">Back</a>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <li><input type="file" name="image"> Image</li>
          <li><input type="file" name="watertag"> Watertag</li>
          <li>X<input type="text" name="x" required/></li>
          <li>Y<input type="text" name="y" required/></li>
        <button type="submit">Upload</button>
     </form>
    {% if uploaded_image_url %}
    <img src="{{uploaded_image_url}}"/>
    <img src="{{uploaded_watertag_url}}"/>
    {% endif %}
</al>
</body>
</html>